@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




aside{
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-image: linear-gradient(to bottom, #39a4dc, #2763ab);
}

.box{
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.09);
  border: solid 1px #eaeef0;
}
.box2{
    width: 300px;
  height: 106.8px;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.09);
  border: solid 1px #eaeef0;
}

.modal{
  margin: 0;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  background-color: rgba(40, 104, 174, 0.43);
}